<style>
.mini-tree {
  .mini-tree-view, .nested {
    list-style: none;
    xpadding-left: 1rem;
  }
  span.title.topline {
    border-top: solid 2px red;
    border-top: solid 1px red;
  }
  span.title.bottomline {
    border-bottom: solid 2px red;
    border-bottom: solid 1px red;
  }
  .nested {
    padding-left: 1rem;
  }
  .tree-row {
    display: flex;
    gap: 0.5rem;
  }
  .toggle-btn {
    background: transparent;
    cursor: pointer;
  }
  .dragging { opacity: 0.5; }
  .hidden { display: none; }
  .toggle-btn, .toggle-space { width: 1rem; }
  .tree-row:hover { background: rgba(0,0,0,0.05); }
}
</style>

<%
  list = locals[:list]
  owner = list.first.class.name[0..-5]
%>
<div class="mini-tree" data-item-id="0"
    data-turbo-prefetch="false"
    data-controller="tree" data-tree-owner-value="<%= owner %>">
  <ul class="mini-tree-view" data-tree-target="top">
    <%= render partial: "mini_trees/item",
      collection: list.where(parent_id: 0).order(:position)
    %>
  </ul>
</div>
